body {
    margin: 0;
    background-color: #333; 
    background-image: url('./windows98.png'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    overflow: auto;
    cursor: url('./icons/main_cursor.png'), auto;


}

@font-face {
  font-family: 'MS';
  src: url('/fonts/ms-sans-serif.ttf') format('truetype');
}
