body {
    margin: 0;
    background-color: #333; 
    background-image: url('./windows98.jpg'); 
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;

}

@font-face {
  font-family: 'MS';
  src: url('/fonts/ms-sans-serif.ttf') format('truetype');
}
